In [1]:
import numpy as np
import json 
import pandas as pd

In [2]:
def parse_data(data_file):
    """This method reads json data file and then create a Pandas DataFrame"""
    geo_fence = []
    name_of_date = []
    month = []
    day_number = []
    time_hours = []
    time_minutes = []
    waiting_time = []    
    with open(data_file) as json_file:
        json_data = json.load(json_file)
        for json_object in json_data:
            try:
                geo_fence.append(json_object['values']['geoFence'])
                name_of_date.append(json_object['values']['day'])
                day_number.append(json_object['values']['date'])
                time_hours.append(json_object['values']['time_hours'])
                time_minutes.append(json_object['values']['time_minutes'])
                month.append(json_object['values']['month'])
                waiting_time.append(json_object['values']['waitingTime'])
            except Exception as ex:
                print 'error in processing json string %s, error: %s\n' %(json_object, ex)
                
    #buding DataFrame
    data_frame = pd.DataFrame({
            'geo_fence': geo_fence,
            'day': name_of_date,
            'date': day_number,
            'time_hours': time_hours,
            'time_minutes': time_minutes,
            'month': month,
            'waiting_time':waiting_time
        })
    return data_frame

In [4]:
waiting_time = parse_data('./data/big_time_series.json')

In [5]:
waiting_time.count()

date            6163
day             6163
geo_fence       6163
month           6163
time_hours      6163
time_minutes    6163
waiting_time    6163
dtype: int64

In [7]:
waiting_time.head()

,date,day,geo_fence,month,time_hours,time_minutes,waiting_time
0,17,Thursday,north,9,18,54,0.0
1,17,Thursday,north,9,18,54,0.3333333333333333
2,17,Thursday,north,9,18,54,0.0
3,17,Thursday,north,9,18,54,0.0
4,17,Thursday,north,9,18,54,0.0

In [8]:
waiting_time.tail()

,date,day,geo_fence,month,time_hours,time_minutes,waiting_time
6158,17,Thursday,north,9,18,58,89.38461538461539
6159,17,Thursday,north,9,18,58,89.53846153846153
6160,17,Thursday,north,9,18,58,89.46153846153847
6161,17,Thursday,north,9,18,58,89.61538461538461
6162,17,Thursday,north,9,18,58,89.46153846153847

In [2]:
data = pd.read_csv('./data/TimeBetweenStops2.csv')

In [11]:
data.head(10)

   STOPID PREVSTOPID      TIMESTAMP  T_HOUR  TIMETAKEN
0   27566      70362  1449890510150       8         33
1     377       1609  1449890510114       8      30056
2    2043       2045  1449890520170       8      25000
3  BP3460       FC41  1449890510128       8      35051
4  BP3460       FC41  1449890510146       8      35043
5     330      24180  1449890530180       8      20000
6   R0330        945  1449890515190       8      35000
7   10893      27566  1449890510183       8      40009
8     377       1609  1449890515179       8      39999
9    1157       2018  1449890515195       8      39999

In [12]:
data[data['STOPID'].isin(['27566'])]

     STOPID PREVSTOPID      TIMESTAMP  T_HOUR  TIMETAKEN
0     27566      70362  1449890510150       8         33
284   27566      10893  1449890830178       8      35000
628   27566      70362  1449891190173       9      15000
1092  27566      70362  1449891690185       9      25000
1648  27566      70362  1449892280179       9      24999
4388  27566      10893  1449895765185      10      25000
4769  27566      10893  1449896350160      10      35000
4961  27566      10893  1449896605175      10      25000
5122  27566      70362  1449896865172      10      20010